@import shine.st.blog.model.vo.PostVO
@import shine.st.blog.common.CustomizeContext
@import shine.st.common.DateTimeUtils
@import org.joda.time.DateTime
@(title:String,info: (String,Option[DateTime]))(implicit customizeContext: CustomizeContext)


@front(title) {

<div class="about me">
    <div class="about me title">
        <div class="ui huge teal header">@title</div>
    </div>

    <div class="markdown-preview">
        <div class="about me content">
            @Html(info._1)
        </div>
    </div>

    <div class="about me tail">
        <hr>

        <div class="ui grid">
            <div class="row">
                <div class="six wide column"></div>
                <div class="five wide column">
                    <div class="ui label">
                        update at @(DateTimeUtils.formatDateHour(info._2))
                    </div>
                </div>
                <div class="five wide column">
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div class="comment">
                        @comment_disqus()
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

}



