@import shine.st.blog.common.CustomizeContext
@()(implicit customizeContext: CustomizeContext)


    <nav class="ui text menu navbar">
        <div class="left menu">
            <a href="/" class="item">
                <img class="ui image" src="/assets/images/logo.png">
            </a>
        </div>
        <div class="right menu">

            <a href="/" class="item">
                <img class="ui image" height="16" src="/assets/images/icons/home.png">
            </a>
            <a href="https://twitter.com/StevenFanChiang" class="item">
                <img class="ui image" height="16" src="/assets/images/icons/person.png">
            </a>
            <a href="https://twitter.com/StevenFanChiang" class="item">
                <img class="ui image" height="16" src="/assets/images/icons/twitter.png">
            </a>
            <a href="" class="item">
                <img class="ui image" height="16" src="/assets/images/icons/search.png">
            </a>
        </div>
    </nav>
