@import shine.st.blog.model.Vo.PostVo
@import shine.st.blog.common.CustomizeContext
@import shine.st.common.DateTimeUtils
@(post: PostVo)


@front(post.category.keywords)(post.title) {

<div class="post">
    <div class="post title">
        <a class="ui huge teal header" href="/static/post/scala/@(post.staticPageName)">@(post.title)</a>
    </div>

    <div class="markdown-preview">
        <div class="post content">
            @Html(post.content)
        </div>
    </div>

    <div class="post tail">
        <hr>

        <div class="ui grid">
            <div class="row">
                <div class="six wide column"></div>
                <div class="five wide column"></div>
                <div class="right aligned five wide column">
                    <div class="ui label">
                    @if(post.updateAt.isDefined) {
                        update at @(DateTimeUtils.formatDateHour(post.updateAt))
                    } else {
                        create at @(DateTimeUtils.formatDateHour(post.createAt))
                    }
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div class="comment">
                        @comment_disqus()
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

}



