@import model.Post
@import model.CustomizeContext
@(post: Post)(implicit customizeContext: CustomizeContext)




@front(s"${post.title}") {

<div class="post">
    <div class="post title">
        <a class="ui huge teal header" href="/post/@(post.id)">@(post.title)</a>
    </div>

    <div class="markdown-preview">
        <div class="post content">
            @Html(post.content)
        </div>
    </div>

    <div class="post tail">
        <hr>
        <div class="ui basic label">
            create at @(customizeContext.format(post.createAt))
        </div>

        <div class="comment">
            @comment_disqus()
        </div>
    </div>
</div>

}



