@import model.Post
@import model.CustomizeContext
@(post: Post)(implicit customizeContext: CustomizeContext)

@frontTemplate(s"${post.title} || Shine St") {

<div class="view-content">
    <div class="views-block" id="row">

        <div class="markdown-preview">
            <div class="views-field-title">
                <h1><a href="/post/@(post.id)">@(post.title)</a></h1>
            </div>

            <div class="view-field-content">
                @Html(post.content)
            </div>
            <div class="post_tail">
                <br>
                <hr>
                <h6 id="create_at">create at <em>@(customizeContext.format(post.createAt))</em></h6>
            </div>
        </div>
    </div>
</div>

}





