@import model.CustomizeContext
@(title:String)(content: Html)(implicit customizeContext: CustomizeContext)

<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html" charset="UTF-8">
    <meta name="keywords" content="Scala tutorials" />
    <title>@title | Scala tutorials</title>

    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/header.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/common.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/markdown.css")">
</head>
<body>

<div id="container">
    <div class="clear-block" id="header">
        @header()
    </div>
    <div class="sidebar" id="sidebar-left">

    </div>
    <div class="clear-block" id="wrapper">
        <div id="content">
            @content
        </div>
    </div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68132042-1', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>
