
    <div class="clear-block" id="header-wrapper">


        <a title="Home" href="/" id="logo"><img alt="Home" src="@routes.Assets.versioned("images/ShineSt_Logo.png")"></a>

        <div id="secondary-links">
              <a title="Home" id="tthome" href="/"><img height="16" src="@routes.Assets.versioned("images/icons/home.png")"></a>
              <a title="Search" href="/search"><img height="16" src="@routes.Assets.versioned("images/icons/search.png")"></a>
            <a title="About Alvin Alexander" id="ttabout" href="/about-al-alexander"><img height="16" src="@routes.Assets.versioned("images/icons/person.png")"></a>
            <a title="Alvin Alexander on Twitter" id="tttwitter" href="http://twitter.com/alvinalexander"><img height="16" src="@routes.Assets.versioned("images/icons/twitter2.png")"></a>
        </div>


    </div>
    <!-- end header-wrapper -->
