@import model.Post
@import model.CustomizeContext
@import common.DateUtils
@(posts: List[Post])(implicit customizeContext: CustomizeContext)


@front("") {
@for(post <- posts) {

<div class="post">
    <div class="post title">
        <a class="ui huge teal header" href="/post/@(post.id)">@(post.title)</a>
    </div>

    <div class="markdown-preview">
        <div class="post content">
            @Html(post.content)
        </div>
    </div>

    <div class="post tail">
        <hr>

        <div class="ui grid">
            <div class="six wide column"></div>
            <div class="five wide column">
                @if(post.updateAt.isDefined) {
                <div class="ui label">
                    update at @(DateUtils.formatOptionDateTime(post.updateAt).getOrElse(""))
                </div>
                }
            </div>
            <div class="five wide column">
                <div class="ui label">
                    create at @(DateUtils.formatOptionDateTime(post.createAt).getOrElse(""))
                </div>
            </div>

        </div>

    </div>

</div>


}

}






